#jumbotron {
    background-color: $blue;

    img {
        height: 60px;
    }

    .col {
        display: flex;
        align-items: center;

        h2 {
            margin-left: 15px;
            color: white;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}