@use "vars" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

a.active {
    color: $blue;
    border-bottom: 7px solid $blue;
}

.row {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: 2px solid $blue;
    padding: 20px;
    color: white;
}